body {
    background-color: #fff;
    margin: 0;
    font-family: barlow;
    font-size: 12px;
  }
  h1 {
    font-family: playfair;
    font-size: 50px;
    background-color: #7ea8bd;
  }
  
ul {
    list-style-type: none;
    background-color: black;
    display: flex;
    margin: 0;
    padding: 10px;
    height: 40px;
    justify-content:space-around;
}

